*{
    margin:0;
}
.head{
    height: 50px;
    background: rgb(11, 11, 83);
    display: flex;
    color:rgb(212, 207, 207);
    padding-left:140px;
}
.head button{
    text-align: center;
    height: 50px;
    background:inherit;
    color:rgb(212, 207, 207);
    border:none;
}
.prom{
    background: yellow;
    padding:5px;
    border-radius:5px; 
    color:rgb(11, 11, 83);
}
.head2{
    height: 80px;
    display: flex;
    padding-left:140px;
}
.table1{
    margin-left:210px;
    height: 80px;
    color:rgb(11, 11, 83);
}
.btn1{
    background: inherit;
    border:none;
    color:rgb(11, 11, 83);
}
.btn2{
    height: 50px;
    margin-left:40px;
    border-radius:5px;
    background: yellow;
    border:none;
    width:150px;
}
.div2{
    height: 500px;
    background:rgb(87, 87, 87);
}
.p1{
    position: absolute;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-weight: 700;
    top:250px;
    left:50%;
}
.p2{
    position: absolute;
    font-size: 12px;
    font-style: italic;
    color:white;
    font-weight: 700;
    top:330px;
    left:50%;
    margin-top:10px;
}
.table2{
    position: absolute;
    left:50%;
    top:390px;
}
.btn3{
    padding:10px;
    width:120px;
    border:none;
    color:white;
    background:rgb(11, 11, 83);
    border-radius: 2px;
    
}
.btn3:nth-child(2){
    margin-left:30px;
    color:rgb(11, 11, 83);
    background:yellow;
}
.table3{
    width: 45%;
    height: 100px;
    background: white;
    border:1px solid grey;
    margin-left:300px;
    margin-top:-50px;
    z-index:5;
}
.table3 td{
    width:15%;
    text-align: center;
}
.table3 td:nth-child(1)
{
    border-right: 1px solid grey;
}
.table3 td:nth-child(2)
{
    border-right: 1px solid grey;
}
.div3{
    width:15%;
    height: 200px;
    margin-left:64.5%;
    margin-top:-205px;
    border:1px solid grey;
}
.button1{
    width: 100%;
    height: 40%;
    border:none;
    padding:0;
    margin:0;
    background: inherit;
}
.button2{
    width: 100%;
    height: 60%;
    border:none;
    padding:10px;
    margin:0;
    background: white;
    border-bottom: 1px solid grey;
    box-sizing: border-box;
}
.p3{
    font-size:9px;
    position: absolute;
    top:610px;
    text-align: center;
}
.p4{
    font-weight: 700;
    position: absolute;
    float: right;
    top:650px;
    padding-left:120px;
}
.div4{
    height: 500px;
}
.table4{
    margin-left:300px;
    margin-top:50px;
}
.td1{
    padding:20px;
    font-weight: 700;
    color:rgb(11, 11, 83);
    font-family: 'Times New Roman', Times, serif;
    border-right:3px solid yellow;
}
.th1{
    float:left;
    padding:20px;
}
.table5{
    margin-left:300px;
    margin-top:50px;
    border-spacing:20px;
}
.table5 th{
    width:400px;
    height: 140px;
    border:0.1px solid grey;
}
.div5{
    background: rgb(255, 238, 0);
    height: 100px;
}
.table6{
    margin-left:300px;
    height: 100%;
}
.table6 th{
    padding-left: 10px;
    padding-right: 10px;
}
.div6{
    margin-left:280px;
    margin-top:30px;
    height: 500px;
}
.p5{
    font-size:24px;
    font-weight: 700;
}
.table7{
    margin-top:30px;
    width: 130px;
}
.div7{
    margin-left:150px;
    margin-top:-100px;
    float:left;
    text-align: left;
}
.table8{
    color:gray;
}
.div8{
    width:100px;
    height:100px;
    background:rgb(97, 93, 93);
    border-radius:50%;
    margin-top:30px;
}
.div9{
    float:left;
    margin-left: 120px;
    margin-top:-100px;
    text-align: left;
}
.div10{
    height:450px;
    background:rgb(87, 87, 87);
    padding-left:300px;
    padding-top:100px;
    color:white;
}
.table9{
    margin-top:20px;
}
.table9  th{
    float:left;
    width:180px;
    text-align: left;
}
.table11{
    margin-top:30px;
}

.h22{
    margin-top: 50px;

}
.h11{
    text-align: center;
    margin-top: 50px;
}
.team {
    margin: 60px 0 70px;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 320px;
}

.team__item {
    width: 29%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.team__item1 {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team__name {
    font-weight: bold;
    margin-bottom: 8px;

    font-size: 22px;
    color: #2d3033;
}

.team__prof {

    font-size: 13px;
    color: #233859;
    font-style: italic;

}

.team__text {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}

.fig{
width: 5px;
    height: 43px;
    margin: 4px;
    background-color: #F0E246;
    float: left;
}
.fig1{
width: 5px;
    height: 95px;
    margin: 4px;
    background-color:#CECDCD;
    float: left;
}
.fig2{
width: 5px;
    height: 54px;
    margin: 4px;
    background-color:#CECDCD;
    float: left;
}
.fig3{
width: 5px;
    height: 54px;
    margin: 4px;
    background-color:#CECDCD;
    float: left;
}




.social {
    display: flex;
}

.social--footer {
    justify-content: center;
}

.social__item {
display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.social__item:hover {
    background-color: #e8ecee;
}

.social__item:hover .social__icon {
    fill: #000;
}

.social--footer .social__item {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social--footer .social__item:hover {
    background-color: #fff;
}

.social__icon {
    display: block;
    height: 18px;

    fill: #c6cacc;

    transition: fill .1s linear;
}

.social--footer .social__icon {
    fill: #fff;
}
.div11{
    height: 450px;
    color:rgb(153, 151, 151);
}
.table12{
    margin-left:220px;
    border-spacing: 10px;
}
.foot1{
    height: 50px;
    background: rgb(12, 12, 77);
}
.foot2{
    height: 400px;
    background: rgb(33, 33, 77);
}
.table13{
    padding-top:50px;
    padding-left:200px;
}
